<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @central_de_alarme.modelo %>
</p>

<%= link_to 'Edit', edit_central_de_alarme_path(@central_de_alarme) %> |
<%= link_to 'Back', central_de_alarmes_path %>
